.nosotros {
    display: flex;
    margin: 0 auto;
    width: 90%;
    .nosotros-img {
        width: 40%;
        display: flex;
        align-items: center;
        img {
            max-width: 100%;
            border-radius: 20px;
            filter: grayscale(100%);
            box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.8);
        }
    }
    .nosotros-text {
        width: 60%;
        border-left: 5px solid $color-primary;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p, h3 {
            margin-left: 25px;
            font-family: $font-primary;
            font-size: 1.2rem;
            color: $color-primary;
        }
        h3 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width:850px){
    .nosotros {
        flex-direction: column;
        .nosotros-img {
            width: 100%;
            margin-bottom: 20px;
        }
        .nosotros-text {
            width: 100%;
            margin-left: 0;
        }
    }
}