/* BTN-WHATSAPP */
.btn-wts {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 50000;
    cursor: pointer;
    img {
        max-width: 100%;
    }
}