$font-primary: 'Exo 2', sans-serif;

$color-primary: red;
$color-secondary: blue;

@import './navbar';
@import './masthead';
@import './nosotros';
@import './contacto';
@import './footer';
@import './whatsapp';
@import './modal';